<p id="notice"><%= notice %></p>

<p>
  <strong><%= t :title %>:</strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= t :memo %>:</strong>
  <%= @book.memo %>
</p>

<%= link_to t('edit.link'), edit_book_path(@book) %> |
<%= link_to t('back'), books_path %>
